<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>W*3</title>
</head>
<body>
  <h1>新規作成</h1>
  <form id="newProgram">
    <input type="text" id="name">
    <button type="submit">作成</button>
  </form>
  <h1>プログラム一覧</h1>
  <lu>
    <% fileList.forEach(e => { %>
      <li><a href="./program/<%= e %>"><%= e %></a></li>
    <% }); %>
  </lu>
  <script src="/static/js/index.js"></script>
</body>
</html>
