<!DOCTYPE html>
<html lang="ja">
<head>
	<link rel="stylesheet" href="/static/css/program.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>W*3: <%=name%></title>
</head>
<body>
  <div id="messageBar">
    <p id="message">メッセージが乗るとこ</p>
    <button id="closeMessage">x 閉じる</button>
  </div>
	<div id="editor">
    <textarea><%= body %></textarea>
    <a id="backLink" href="/">プログラム一覧に戻る</a>
  </div>
  <div id="exec">
    <div id="wrapper"><button class="functionButton" data-index="1">1</button></div>
    <div id="wrapper"><button class="functionButton" data-index="2">2</button></div>
    <div id="wrapper"><button class="functionButton" data-index="3">3</button></div>
    <div id="wrapper"><button class="functionButton" data-index="4">4</button></div>
  </div>
  <div id="controllButtons">
    <button class="button">保存</button>
    <button id="modeButton" class="button">編集</button>
  </div>
  <script src="/socket.io/socket.io.js"></script>
	<script src="/static/js/program.js"></script>
</body>
</html>
